<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <h1>Header</h1>
  </div>
  
  <app-order></app-order>
    
  <div class="row">
    <h1>footer</h1>
  </div>
</div>