<div *ngIf="!selectedOrderCustomer">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="findCustomer" [value]="false" id="useName" [(ngModel)]="usePhoneInSearch">
    <label class="form-check-label" for="useName">Find By Name</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="findCustomer" [value]="true" id="usePhone" [(ngModel)]="usePhoneInSearch">
    <label class="form-check-label" for="usePhone">Find By Phone</label>
  </div>
  <div class="input-group">
    <input type="text" class="form-control form-control-sm" id="findCustomer" placeholder="Name | Phone" [(ngModel)]="searchData"/>
    <div class="input-group-append">
      <button class="btn btn-sm btn-outline-primary" (click)="findCustomer(searchResult)" [disabled]="!searchData || searchData.length==0">Find</button>
      <button class="btn btn-sm btn-outline-primary" (click)="getDefaultCustomer()">Default</button>
      <button class="btn btn-sm btn-outline-primary" (click)="openNewCustomerModal(newCustomer)">New...</button>
    </div>
  </div>
</div>

<div *ngIf="selectedOrderCustomer">
  <div class="row">
    <div class="col-md-8">
      <blockquote class="blockquote ">
        <p class="mb-0">{{selectedOrderCustomer?.name}}</p>
        <footer class="blockquote-footer">{{selectedOrderCustomer?.phoneNumber}}</footer>
      </blockquote>
    </div>
    <div>
      <button class="btn btn-primary" (click)="changeSelectedustomer(confirmChangeCustomer)">Change</button>
    </div>
  </div>
</div>

<ng-template #newCustomer let-c="close" let-d="dismiss">
  <form #newCustomer="ngForm" (ngSubmit)="SaveNewCustomer()">
    <div class="modal-header">
      <h4 class="modal-title">New Customer</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label for="newCustomerName">Name</label>
        <input minlength="2" maxlength="100" required ngModel name="customerName" id="newCustomerName" type="text" class="form-control 
      form-control-sm" #customerName="ngModel" (change)="log(customerName)">
        <div *ngIf="customerName.touched && !customerName.valid">
          <small *ngIf="customerName.errors.required" class="form-text text-muted">Customer name is required.</small>
          <small *ngIf="customerName.errors.minlength" class="form-text text-muted">Customer name must be not less than {{customerName.errors.minlength.requiredlength}} characters.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="newCustomerPhone">Phone</label>
        <input ngModel required name="customerPhone" #customerPhone="ngModel" id="newCustomerPhone" type="text" class="form-control form-control-sm">
        <div *ngIf="customerPhone.touched && !customerPhone.valid">
          <small *ngIf="customerPhone.errors.required" class="form-text text-muted">Customer phone is required.</small>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="newCustomerBlockNumber">Block</label>
          <input ngModel required name="customerAddressBlock" #customerAddressBlock="ngModel" id="newCustomerBlockNumber" type="text"
            class="form-control form-control-sm">
          <div *ngIf="customerAddressBlock.touched && !customerAddressBlock.valid">
            <small *ngIf="customerAddressBlock.errors.required">Block number is required.</small>
          </div>
        </div>
        <div class="form-group col-md-8">
          <label for="newCustomerStreet">Street</label>
          <input ngModel required #customerAddressStreet="ngModel" name="customerAddressStreet" id="newCustomerStreet" type="text"
            class="form-control form-control-sm">
          <div *ngIf="customerAddressStreet.touched && !customerAddressStreet.vlaid">
            <small *ngIf="customerAddressStreet.errors.required">Street feild is required.</small>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="newCustomerRegion">Region</label>
          <input ngModel required #customerAddressRegion="ngModel" name="customerAddressRegion" id="newCustomerRegion" type="text"
            class="form-control form-control-sm">
          <div *ngIf="customerAddressRegion.touched && !customerAddressRegion.valid">
            <small *ngIf="customerAddressRegion.errors.required">Region is required.</small>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="newCustomerState">State</label>
          <input ngModel required #customerAddressState="ngModel" name="customerAddressState" id="newCustomerState" type="text" class="form-control form-control-sm">
          <div *ngIf="customerAddressState.touched && !customerAddressState.valid">
            <small *ngIf="customerAddressState.errors.required">State is required.</small>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="newCustomerCountry">Country</label>
          <input ngModel required #customerAddressCountry="ngModel" name="customerAddressCountry" id="newCustomerCountry" type="text"
            class="form-control form-control-sm">
            <div *ngIf="customerAddressCountry.touched && !customerAddressCountry.valid">
                <small *ngIf="customerAddressCountry.errors.required">Country is required.</small>
              </div>
        </div>
      </div>
      <div class="form-row">
        <label for="newCustomerLandmark">Land Mark</label>
        <input id="newCustomerLandmark" name="customerAddressLandmark" type="text" class="form-control form-control-sm" [(ngModel)]="newAddress.Landmark">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="SaveNewCustomer()">Save</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>

<ng-template #searchResult let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Search Result</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-group" [hidden]="!searchCustomerResult || searchCustomerResult.lenght==0">
      <a *ngFor="let c of searchCustomerResult" href="#" (click)="selectCustomerFromSearchResult(c)" class="list-group-item list-group-item-action">
        <blockquote class="blockquote">
          <p class="mb-0">{{c.name}}</p>
          <footer class="blockquote-footer">{{c.phoneNumber}}</footer>
        </blockquote>
      </a>
    </div>
    <p [hidden]="searchCustomerResult && searchCustomerResult.length>0">No Result Found...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #confirmChangeCustomer let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Changing the Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Changing the customer will reset any order in progress. You will start from the begining. Are you sure!?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="resetSelectedCustomer()">Yes</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">No</button>
  </div>
</ng-template>