

<table class="table">
  
      <tr class="d-flex">
          <th scope="col" style="width:20%"><input type="text" id="itemCode" placeholder="Code" class="form-control" [disabled]="disabled" [(ngModel)]="orderline.item.code"
            (change)="addOrderLine()"></th>
          <th scope="col" style="width:44%"> <input id="itemName" type="text" placeholder="Name" class="form-control" [disabled]="disabled" [value]="orderline.item.name"
            (keydown.enter)="selectItemByName($event.target.value,searchItem)" />
      </th>
          <th scope="col" style="width:22%"><input type="text" id="itemQuantity" placeholder="Quantity" class="form-control" [disabled]="disabled" [(ngModel)]="orderline.quantity">
          </th>
          <th scope="col" style="width:22%"> <select id="itemUnit" class="form-control" [disabled]="disabled" [ngModel]="orderLine?.unit" (ngModelChange)="orderline.unit=$event">
            <option *ngFor="let unit of orderline.item.availableUnits" [ngValue]="unit" [selected]="unit.code==orderline.item.defaultUnit.code">{{unit.name}}</option>
          </select></th>
          <th scope="col" style="width:22%"> <input type="button" [disabled]="!orderline.item.name || orderline.quantity==0" class="btn btn-primary" value="Add" (click)="addOrderLine()"></th>
      </tr>
</table>

<ng-template #searchItem let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Search Result</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-group" [hidden]="!searchItemsResult || searchItemsResult.lenght==0">
      <a *ngFor="let i of searchItemsResult" href="#" (click)="selectItemFromSearchResult(i)" class="list-group-item list-group-item-action">
        <blockquote class="blockquote">
          <p class="mb-0">{{i.name}}</p>
          <footer class="blockquote-footer">{{i.DefaultUnit}}</footer>
        </blockquote>
      </a>
    </div>
    <p [hidden]="searchItemsResult && searchItemsResult.length>0">No Result Found...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>