<div class="row">
    <div class="col-md-8">
        
        <table class="table">
            <thead class="thead-light">
                <tr >
                    <th scope="col" >Code</th>
                    <th scope="col" >Name</th>
                    <th scope="col" >Quantity</th>
                    <th scope="col" >Unit</th>
                    <th scope="col" >Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let line of order?.orderLines">
                    <td style="width:20%">{{line.item.code}}</td>
                    <td style="width:44%">{{line.item.name}}</td>
                    <td style="width:22%">{{line.quantity}}</td>
                    <td style="width:22%">{{line.unit.name}}</td>
                    <td style="width:22%">Remove</td>
                </tr>
            </tbody>
        </table>
        <app-item-search [disabled]="!order" (orderLineCreated)="onOrderLineCreated($event)" ></app-item-search>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-primary">
                Order Data
            </div>
            <div class="card-body">
                <app-order-customer [isOrderInProgress]="order" [(ngModel)]="orderCustomer"></app-order-customer>
                <hr>
                <app-order-header [orderCustomer]="orderCustomer" [order]="order" 
                (orderCreated)="onOrderCreated($event)" 
                (orderCanceled)="onOrderCanceled()" 
                (orderHold)="onOrderHold()"></app-order-header>
            </div>
        </div>
    </div>
</div>