<div [hidden]="!order">
  <div class="row">
    <div class="col-md-4">Serial</div>
    <div class="col-md-8">{{order?.serial}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Date</div>
    <div class="col-md-8">{{order?.createDate | date : 'short'}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Time</div>
    <div class="col-md-8">{{order?.createDate | date : 'shortTime'}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Cashier</div>
    <div class="col-md-8"></div>
  </div>
  <div class="row">
    <div class="col-md-4">Total</div>
    <div class="col-md-8">{{order?.total}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Net</div>
    <div class="col-md-8">{{order?.net}}</div>
  </div>
  <hr [hidden]="order?.Type!=1">
  <div class="row" [hidden]="order?.Type!=1">
    <div class="col-md-8">Delivery Address</div>
  </div>
  <div class="row" [hidden]="order?.Type!=1">
    <div class="col-md-8">
      <select class="form-control">
        <option *ngFor="let address of orderCustomer?.addresses">
          <p> {{address.blockNumber}}-{{address.street}} </p>
          <br>
          <small> {{address.region}}-{{address.state}}-{{address.country}} </small>
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="openNewAddressModal(newCustomerDeliveryAddress)">New</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8">Notes</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea class="form-control" rows="3" (change)="onNoteChanged($event.target.value)">{{order?.notes}}</textarea>
    </div>
  </div>

  <br>
</div>

<div class="btn-group" [hidden]="!order">
  <button class="btn btn-primary" [disabled]="order?.total==0">Close</button>
  <button class="btn btn-primary" [hidden]="!canBeOnHold" [disabled]="order?.total==0" (click)="holdOrder()">Hold</button>
  <button class="btn btn-primary" (click)="cancelOrder()">Cancel</button>
</div>

<div class="btn-group" [hidden]="order">
  <button class="btn btn-primary" [disabled]="!orderCustomer" (click)="initializeOrder(0)">Tak-away</button>
  <button class="btn btn-primary" [disabled]="!orderCustomer || orderCustomer.isDefault" (click)="initializeOrder(1)">Delivery</button>
  <button class="btn btn-primary" [disabled]="!orderCustomer || orderCustomer.isDefault" (click)="initializeOrder(3)">Down-Payment</button>
</div>

<ng-template #newCustomerDeliveryAddress let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Address</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="newDeliveryBlockNumber">Block</label>
        <input id="newDeliveryBlockNumber" type="text" class="form-control form-control-sm" required [(ngModel)]="newDeliveryAddress.BlockNumber">
      </div>
      <div class="form-group col-md-8">
        <label for="newDeliveryStreet">Street</label>
        <input id="newDeliveryStreet" type="text" class="form-control form-control-sm" required [(ngModel)]="newDeliveryAddress.Street">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="newDeliveryRegion">Region</label>
        <input id="newDeliveryRegion" type="text" class="form-control form-control-sm" [(ngModel)]="newDeliveryAddress.Region">
      </div>
      <div class="form-group col-md-4">
        <label for="newDeliveryState">State</label>
        <input id="newDeliveryState" type="text" class="form-control form-control-sm" [(ngModel)]="newDeliveryAddress.State">
      </div>
      <div class="form-group col-md-4">
        <label for="newDeliveryCountry">Country</label>
        <input id="newDeliveryCountry" type="text" class="form-control form-control-sm" [(ngModel)]="newDeliveryAddress.Country">
      </div>
    </div>
    <div class="form-row">
      <label for="newDeliveryLandmark">Land Mark</label>
      <input id="newDeliveryLandmark" type="text" class="form-control form-control-sm" [(ngModel)]="newDeliveryAddress.Landmark">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveNewAddress()">Save</button>
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>